venv/Lib/site-packages/pdf2image filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pytesseract filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/PIL filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/Pillow-8.2.0.dist-info filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/opencv_python-4.5.1.48.dist-info filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/setuptools filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/_distutils_hack filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/cv2 filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/numpy-1.20.2.dist-info filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pdf2image-1.14.0.dist-info filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pip filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pkg_resources filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/PyPDF2 filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/PyPDF2-1.26.0-py3.7.egg-info filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/distutils-precedence.pth filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/numpy filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pip-21.0.1.dist-info filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pytesseract-0.3.7-py3.7.egg-info filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/setuptools-56.0.0.dist-info filter=lfs diff=lfs merge=lfs -text
